.lazy-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.lazy-carousel .item {
  display: none;
}
.lazy-carousel .item img {
  width: 100%;
  display: block;
}
.lazy-carousel .item figcaption {
  display: block;
}
.lazy-carousel .item.active {
  display: block;
}
